<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="CustomRules" Description="Custom ruleset for my project" ToolsVersion="16.0">
  <!-- Treat all default compiler warnings as normal -->
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <!-- Disable specific rule -->
    <Rule Id="CA1707" Action="None" /> <!-- identifiers and underscores, used for tests -->
    <Rule Id="IDE0008" Action="None" /> <!-- simplified ifs -->
    <Rule Id="IDE0011" Action="None" /> <!-- simplified ifs -->
    <Rule Id="IDE0160" Action="None" /> <!-- block scoped namespace -->
  </Rules>

  <!-- You can also include other rule sets -->
  <Include Path="AllRules.ruleset" Action="Default" />
</RuleSet>
